.xapiNotSupported .container {
    margin-top: 50px;
}

.xapiNotSupported .module-experienceapi {
    margin-bottom: 109px;
}

.xapiNotSupported .xapi-title {
    padding: 16px 20px 12px;
    vertical-align: middle;
}

    .xapiNotSupported .xapi-title span {
        vertical-align: top;
    }

    .xapiNotSupported .xapi-title:before {
        content: url(images/graphChart.png?v=quiz);
        display: block;
        width: 32px;
        height: 35px;
        float: left;
        margin-right: 15px;
        opacity: 0.85;
    }

.xapiNotSupported .xapi-form-holder {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 60%;
    min-width: 540px;
    margin: 0 auto;
}

.xapiNotSupported .xapi-form-info-message {
    width: 100%;
    top: 20px;
    padding: 0px 20px 20px;
    background: #fefefe;
    border-radius: 5px;
    cursor: default;
}

.xapiNotSupported .xapi-form-info-text {
    display: block;
    max-width: 562px;
    line-height: 1.5;
    position: relative;
    color: #555555;
    padding-left: 62px;
    word-wrap: break-word;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: justify;
}

    .xapiNotSupported .xapi-form-info-text:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -16px;
        height: 32px;
        width: 32px;
        background: url(images/error-message.png?v=quiz);
    }

.xapiNotSupported .message-btn-holder {
    text-align: center;
}


    .xapiNotSupported .message-btn-holder .btn {
        font-size: 20px;
    }

.xapiNotSupported .link.default {
    margin: 18px;
    font-size: 18px;
    border-bottom: 1px solid #3a87ad;
    color: #3a87ad;
    cursor: pointer;
    margin: 0 18px;
}

    .xapiNotSupported .link.default:hover {
        color: #2e6b89;
    }
