<section class="single-select-image-question">
    <header class="content-header">
        <div class="content-header-inner">
            <div class="question-counter">
                <span data-bind="text: (index + 1) + ' of ' + questionsCount"></span>
            </div>
            <div class="content-title question-text">
                <span class="selectable" data-bind="text: title"></span>
            </div>
            <div class="question-learning-content" data-bind="click: showLearningContents">
                <span class="question-learning-content-icon"></span>
            </div>
        </div>
    </header>
    <div class="question-content-wrapper" data-bind="visible: hasContent">
        <div class="question-content" data-bind="html: content, imageWrap: content"></div>
    </div>
    <ul class="question-answers-list" data-bind="foreach: answers">
        <li class="radio image" data-bind="click: $parent.selectOption, css: { checked: $parent.selectedOption() == $data }">
            <div class="radio-image-wrapper" data-bind="thumbnail: image"></div>
            <div class="question-answer-radiobutton-wrapper">
                <a class="question-answer-radiobutton" data-bind="click: $parent.selectOption, css: { checked: $data == $parent.selectedOption() }">&nbsp;</a>
            </div>
        </li>
    </ul>
</section>