<section class="statement-question">
    <header class="content-header">
        <div class="content-header-inner">
            <div class="question-counter">
                <span data-bind="text: (index + 1) + ' of ' + questionsCount"></span>
            </div>
            <div class="content-title question-text">
                <span class="selectable" data-bind="text: title"></span>
            </div>
            <div class="question-learning-content" data-bind="click: showLearningContents">
                <span class="question-learning-content-icon"></span>
            </div>
        </div>
    </header>
    <div class="question-content-wrapper" data-bind="visible: hasContent">
        <div class="question-content" data-bind="html: content, imageWrap: content"></div>
    </div>
    <div class="statement">
        <div class="statement-headers-group">
            <div class="statement-header"></div>
            <div class="statement-header statement-option">True</div>
            <div class="statement-header statement-option">False</div>
        </div>

        <!-- ko foreach: statements -->
        <div class="statement-item">
            <div class="statement-label">
                <span class="statement-label-text" data-bind="text: text"></span>
            </div>
            <div class="statement-option question-answer-wrapper">
                <a class="question-answer-radiobutton" data-bind="click: $parent.setTrue, css: { checked: isTrueChecked() }">&nbsp;</a>
            </div>
            <div class="statement-option question-answer-wrapper">
                <a class="question-answer-radiobutton" data-bind="click: $parent.setFalse, css: { checked: isFalseChecked() }">&nbsp;</a>
            </div>
        </div>
        <!-- /ko -->
    </div>
</section>